* {
  box-sizing: border-box;
}

body {
  background-color: thistle;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  margin: 0;
}

.container,
img {
  max-height: 100vh;
  max-width: 100vw;
  object-fit: contain;
}
